@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata)


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Secular One", sans-serif;
    font-family: "Roboto Mono", monospace;
  }

  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    font-family: "Roboto Mono", monospace;
    font-size: 0.5em;
    font-weight: normal;
  }